
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FA6900;
}

.menu a {
    text-decoration: none;
    color: white;
}

.img {
    display: flex;
    height: 600px;
    width: 1480px;
    object-fit: cover;
}

.dropdown-menu {
    background-color: #263F6B;
    position: absolute;
    box-shadow: 0 0 3px black;
    display: none;
}

.dropdown-menu a {
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.redes-g {
    align-items: center;
}

.redes-g a {
    display: flex;
    align-items: center;
}

.sentinha1 {
    cursor: pointer;
}

